body{
    margin:0px;
    padding:0px;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color:#0F1D40;
    height:100px;
    width:100%;
    margin:0px;
    padding:0px;
}

.logo-container{
    height:95%;
    width:10%;
    /* border:solid 1px black; */
    padding:5px;
}

.logo{
    height:100%;
    width:100%;
    transition: transform 0.3s ease-in-out;
    
}

.logo:hover {
    transform: scale(1.15);
    cursor:pointer;
  }

.nav-items-container{
    margin:5px;
    margin-bottom:0px;

}

.nav-items{
    display:flex;
    list-style:none;
    /* margin-bottom:0px; */

}

.nav-items>li{
    padding:30px;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    font-weight:600;
    color: #FFFFFF;
    transition: transform ease-in-out;
    margin-bottom:0px;
}

.nav-items>li:hover {
    transform: scale(1.15);
    cursor:pointer;
  }